
.todo-welcome {
    color: var(--themeOutlineColor)  !important;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 20px !important;
    display: flex;
    font-size: 18px !important;
}


.todo-logout {
    color: var(--themeOutlineColor)  !important;
    font-weight: 400;
    margin-right: 10px;
    margin-top: 20px !important;
    display: flex;
    justify-content: flex-end;
    font-size: 18px !important;
}